# =========================
# MySQL (container)
# =========================
MYSQL_ROOT_PASSWORD=example
MYSQL_DATABASE=example
MYSQL_USER=example
MYSQL_PASSWORD=example

# Port exposé sur l'hôte pour MySQL
MYSQL_EXPOSED_PORT=3306

# =========================
# MySQL Exporter
# =========================
MYSQL_EXPORTER_USER=example
MYSQL_EXPORTER_PASSWORD=example

# Adresse MySQL vue depuis mysqld-exporter (réseau docker)
MYSQL_HOSTexample
MYSQL_PORT=3306

# Port exposé sur l'hôte pour mysqld-exporter
MYSQL_EXPORTER_PORT=9104

# =========================
# Grafana
# =========================
GRAFANA_ADMIN_USER=example
GRAFANA_ADMIN_PASSWORD=example
GRAFANA_PORT=3000

# =========================
# Prometheus
# =========================
PROMETHEUS_PORT=9090

# =========================
# Alertmanager
# =========================
ALERTMANAGER_PORT=9093

# =========================
# Loki / Promtail
# =========================
LOKI_PORT=3100
PROMTAIL_PORT=9080

# =========================
# Demo app (cible HTTP)
# =========================
DEMO_APP_PORT=8080

# =========================
# Node Exporters
# =========================
NODE_EXPORTER_HOST_PORT=9100
NODE_EXPORTER_NODE2_PORT=9101
